.homeg{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22,100%);
    display: flex;
}
.home1{
   flex: 1;
   display:flex ;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   padding-left: 110px;
   line-height: 1.1; 
}
.home1 h3{
    color: black;
    font-size: 100px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home1 h2{
    color: black;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home1 p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.latest{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 130px;
    height: 38px;
    border-radius: 75px;
    background-color: palevioletred;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 3px;
}
.shgirl{
    height: fit-content;
    width: 910px;
}